body {
}

.access-denied-container {
    min-height: 100vh;
    /* Full height of the viewport */
    display: flex;
    align-items: center;
    /* Vertical center alignment */
    justify-content: center;
    /* Horizontal center alignment */
}

.access-denied-message {
    text-align: center;
}

.dashboard-link {
    color: #0d6efd;
    /* Bootstrap primary color */
    text-decoration: none;
}

.dashboard-link:hover {
        text-decoration: underline;
}


